DISCORD_TOKEN=your_discord_bot_token_here

# Supabase Postgres connection string (since we are using Prisma)
DATABASE_URL="postgres://postgres.xxx:password@aws-0-us-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Direct connection for migrations
DIRECT_URL="postgres://postgres.xxx:password@aws-0-us-west-1.pooler.supabase.com:5432/postgres"

# Lavalink configuration (Free public node provided)
LAVALINK_URL=lavalink.oops.wtf:443
LAVALINK_AUTH=www.freelavalink.wtf
LAVALINK_SECURE=true
